extends layout

block content
  h1= "Fetch rewards coding exercise."
  body 
    form(id="rewards" method = "POST" target="display" action="http://localhost:3000/add")
      label(for="name")
        input(type="text", name="userName" required) 
        br
        input(type="number", name="points" required) 
        br
      input(type="submit" value="add")    
    br
    form(id="getData" method = "POST" target="display" action="http://localhost:3000/data")
      label(for="pointsSpend")
      input(type="number", name="spend" required)
      br
      input(type="submit", value="point")
    br
    iFrame(name="display" class="hid")  